<div class="card border">
  <div class="card-body">
    <div>
      <%= render @organization %>
    </div>
    <div>
      <%= link_to "Back to organizations", organizations_path, class: "btn" %>
    </div>
  </div>
</div>
